@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: novaslim;
  background-color: #d0e8e8;
}

@font-face {
  font-family: novaslim;
  src: url("./assets/novaslim.ttf");
}
@font-face {
  font-family: opensans;
  src: url("./assets/opensans.ttf");
}
@font-face {
  font-family: texturina;
  src: url("./assets/texturina.ttf");
}
@font-face {
  font-family: comforter;
  src: url("./assets/comforter.ttf");
}

.gitname {
  font-family: comforter;
}
